@font-face {
    font-family: Orbitron;
    src: url("fuentes/Orbitron.ttf");
}

@font-face {
    font-family: Press;
    src: url("fuentes/Press.ttf");
}

body {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: Press;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 25px;
}

p {
    font-family: Orbitron;
}

header {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    background: rgb(255, 40, 28);
    color: rgb(236, 223, 222);
}

header > h1 {
    width: 50%;
}

header nav {
    width: 50%;
}

section {
    margin-top: 20vh;
    display: flex;
    
    height: 80vh;
}

nav > ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li a{
    text-decoration: none;
    font-family: Orbitron;
    color: rgb(236, 223, 222);
}

nav ul li a{
    color: rgb(2, 230, 90);
}

