@font-face {
    font-family: Orbitron;
    src: url("fuentes/Orbitron.ttf");
}

@font-face {
    font-family: Press;
    src: url("fuentes/Press.ttf");
}

body {
    margin: 0;
    padding: 0;
    background: rgb(240, 234, 234);
}

h1, h2 {
    font-family: Press;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 22px;
}

p {
    font-family: Orbitron;
}

header {
    height: 25vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 40, 28);
    color: rgb(236, 223, 222);
}

header > h1 {
    width: 60%;
    text-align: center;
}

header nav {
    width: 40%;
}

section {
    margin-top: 20vh;
    display: flex;
    
    height: 80vh;
}

nav > ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li a{
    text-decoration: none;
    font-family: Orbitron;
    color: rgb(236, 223, 222);
}

nav ul li a:hover{
    color: rgb(2, 230, 90);
}

footer {
    height: 150px;
    text-align: center;
    font-family: Orbitron;
    background: rgb(22, 24, 23);
    color: rgb(236, 223, 222);
}

.regresar {
    margin-right: 100px;
    text-decoration: none;
    color:rgb(236, 223, 222);
    font-family: Orbitron;
    padding: 10px;
    border: 1px solid rgb(236, 223, 222);
}

.regresar:hover {
    color:rgb(2, 230, 90);
    background: rgb(238, 71, 63);
}

.contenido-principal {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.tarjeta {
    width: 30%;
    box-shadow: 2px 2px 5px rgb(117, 99, 98);
    background: ghostwhite;
    border-radius: 5%;
    padding: 20px;
    box-sizing: border-box;
}

.tarjeta img {
    width: 100%;
    border-radius: 5%;
    max-height: 250px;
}

h2{
    text-align: center;
}

.boton {
    padding: 10px;
    border: 1px solid rgb(238, 71, 63);
    color:rgb(255, 40, 28);
    text-decoration: none;
    margin: 20px;
    font-family: Orbitron;
}

.boton:hover {
    background: rgb(235, 228, 228);
}

main {
    width: 100%;
}

.contenido-secundario {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.contenido-secundario > * {
    width: 40%;
}

.video {
    width: 80%;
    min-height: 500px;
    margin-top: 50px;
    margin-left: 10%;
}