@font-face {
    font-family: Orbitron;
    src: url("fuentes/Orbitron.ttf");
}

@font-face {
    font-family: Press;
    src: url("fuentes/Press.ttf");
}

h1, h2 {
    font-family: Press;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 25px;
}

p {
    font-family: Orbitron;
}

